################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AoC_17_2/AoC_17_2/bin/Debug
/AoC_17_2/AoC_17_2/obj/Debug
/AoC_17_2/AoC_17_2_Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/AoC_17_2/AoC_17_2_Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/AoC_17_2/AoC_17_2_Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/AoC_17_2/AoC_17_2_Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/AoC_17_2/AoC_17_2_Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/AoC_17_2/AoC_17_2_Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/AoC_17_2/AoC_17_2_Test/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/AoC_17_2/AoC_17_2_Test/bin/Debug
/AoC_17_2/AoC_17_2_Test/obj/Debug
/AoC_17_2/packages
/AoC_17_2/.vs/AoC_17_2/v14
